.footer {
    width: 100%;
    
    

}

nav ul {
    display: flex;
    color: white;
    padding: 16px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background-color: rgb(1, 1, 41);
    cursor: pointer;


}

.nav ul li:hover {
    color: rgb(16, 16, 224);
}

h1 {
    color: blue;

}