*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.productCardContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: auto;
  gap: 20px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;

  
}