.product-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0;
    color: black;
}

img {
    width: 200px;
    height: 200px;

}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    transition: transform 0.2s;
    box-shadow:  2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 200px;
    border-radius: 8px;
}

.product-title {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-price {
    font-size: 1.2em;
    color: #333;
}


.product-list {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}


.filter-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.sort-controls {
    display: flex;
    align-items: center;
}

.sort-dropdown {
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.sort-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sort-button:hover {
    background-color: #0056b3;
}